/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Poiret One';
  letter-spacing: 2px;
}

button {
  background-color: #52B7FF !important;
  display: inline-block !important;
}

p {
  line-height: 2rem;
}

.card .card-title {
  font-size: 20px;
}

.contact-info {
  font-size: 1.1em;
}

.contact-me {
  margin-top: 0pc;
}

.feel-free {
  margin-top: 15px;
  margin-bottom: 10px;
}

.footer-copyright a {
  color: #DD7A79;
}

.main-logo {
  cursor: pointer;
  position: fixed;
  width: 50px;
  top: 30px;
  right: 30px;
}

.logo {
  width: 100px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.logo-row {
  padding-top: 30px;
  padding-bottom: 120px;
}

.soc-logo {
  cursor: pointer;
  width: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.soc-top {
  margin-left: 15px;
  margin-top: 10px;
  width: 30px !important;
  float: left;
}

footer.page-footer {
  background-color: #52B7FF;
}

.top-container {
  position: relative;
}

.header-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-icon, .section-header {
  color: #DD7A79;
}

.section-header {
  font-size: 2em;
  letter-spacing: 12px;
}

.name {
  font-size: 7em;
  margin-top: 18%;
}

.name .char1 {
  padding-right: 15px;
}
.name .char2 {
  padding-right: 25px;
}
.name .char3 {
  padding-right: 20px;
}
.name .char4 {
  padding-right: 15px;
}
.name .char5 {
  padding-right: 10px;
}
.name .char6 {
  padding-right: 15px;
}
.name .char7 {
  padding-right: 15px;
}

.tagline {
  font-size: 2em;
  margin-top: 30px;
  letter-spacing: 12px;  
}

.tagline-two {
  font-size: 1.6em;
  letter-spacing: 12px;  
}

.header {
  color: #DD7A79;
}

#index-banner {
  height: 100vh;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-secondary {
  min-height: 100px;
  height: 100px;
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* label color */
 .input-field label {
   color: #9E9E9E;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #9E9E9E;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #52B7FF;
   box-shadow: 0 1px 0 0 #52B7FF;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #52B7FF;
   box-shadow: 0 1px 0 0 #52B7FF;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #ee6e73;
   box-shadow: 0 1px 0 0 #ee6e73;
 }





 /* label focus color */
 .input-field textarea:focus + label {
   color: #52B7FF !important;
 }
 /* label underline focus color */
 .input-field textarea:focus {
   border-bottom: 1px solid #52B7FF !important;
   box-shadow: 0 1px 0 0 #52B7FF !important;
 }
 /* valid color */
 .input-field textarea.valid {
   border-bottom: 1px solid #52B7FF !important;
   box-shadow: 0 1px 0 0 #52B7FF !important;
 }
 /* invalid color */
 .input-field textarea.invalid {
   border-bottom: 1px solid #ee6e73 !important;
   box-shadow: 0 1px 0 0 #ee6e73 !important;
 }

 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #52B7FF;
 }