/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



body {
  font-family: 'Poiret One';
  letter-spacing: 2px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.contact-info {
  font-size: 1.3em;
}

.contact-me {
  margin-top: 0pc;
}

.feel-free {
  margin-top: 15px;
  margin-bottom: 10px;
}

.footer-copyright a {
  color: #DD7A79;
}

.main-logo {
  cursor: pointer;
  position: fixed;
  width: 50px;
  top: 30px;
  right: 30px;
}

.logo {
  width: 100px;
}

.logo-row {
  padding-top: 30px;
  padding-bottom: 120px;
}

.soc-logo {
  cursor: pointer;
  width: 70px;
}

.soc-top {
  margin-left: 15px;
  width: 30px !important;
  float: left;
}

footer.page-footer {
  background-color: #52B7FF;
}

.top-container {
  position: relative;
}

.header-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-icon, .section-header {
  color: #DD7A79;
}

.section-header {
  font-size: 2em;
  letter-spacing: 12px;
}

.name {
  font-size: 7em;
  margin-top: 12vh;
}

.name .char1 {
  padding-right: 15px;
}
.name .char2 {
  padding-right: 25px;
}
.name .char3 {
  padding-right: 20px;
}
.name .char4 {
  padding-right: 15px;
}
.name .char5 {
  padding-right: 10px;
}
.name .char6 {
  padding-right: 15px;
}
.name .char7 {
  padding-right: 15px;
}

.tagline {
  font-size: 2em;
  margin-top: 30px;
  letter-spacing: 12px;  
}

.tagline-two {
  font-size: 1.6em;
  letter-spacing: 12px;  
}

.header {
  color: #DD7A79;
}

#index-banner {
  height: 100vh;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-secondary {
  min-height: 100px;
  height: 100px;
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}